<h1>Home<h1>
<head>  
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <center><img src="http://localhost:3000/assets/home.jpg" width="60%" height="300" ></center>
	<span class="btn-toolbar">
	<%= link_to "My Tickets",tickets_path, class: "btn btn-info"%>
	</span>



</body>
