<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;,charset=UTF-8" http-equiv="Content-Type"/>
</head>
	<body>
		<h1> Welcome to our movie booking site <%@user.firstName%></h1>
		<p>		You have successfully signed up </p>
		<p>Thanks for joining, enjoy!</p>
	</body>
</html>